@if (currentArtwork) {
<mat-card class="artwork-card">
  <mat-card-header>
    <mat-card-title>{{ currentArtwork.title }}</mat-card-title>
    <mat-card-subtitle>
      {{ currentArtwork.artistTitle }}, {{ currentArtwork.dateDisplay }}
    </mat-card-subtitle>
  </mat-card-header>
  @if (imageUrl) {
  <img mat-card-image [src]="imageUrl" [alt]="this.currentArtwork.altText" />
  } @else { image not found }
  <mat-card-content class="artwortk-card-content">
    @if(currentArtwork.typeTitle) {
    <h3>
      <span>Type:</span>
      {{ currentArtwork.typeTitle }}
    </h3>
    } @if(currentArtwork.mediumDisplay) {
    <h3>
      <span>Medium:</span>
      {{ currentArtwork.mediumDisplay }}
    </h3>
    } @if(currentArtwork.inscriptions) {
    <h3>
      <span>Notes:</span>
      {{ currentArtwork.inscriptions }}
    </h3>
    }
  </mat-card-content>
  <mat-card-actions *ngIf="currentArtwork?.artistId">
    <button mat-raised-button color="primary" (click)="artistInfoClick()">
      Artist Info
    </button>
  </mat-card-actions>
</mat-card>
}
