<div>
  <h3>Hello!</h3>
  <p>
    We need more art in our lives. On this page you can find a random work of
    art from the museum's collection. You can also search for information about
    about your favorite artist, e.g. "Vincent van Gogh"
    <button mat-raised-button color="primary" (click)="searchClick()">
      click here and try!
    </button>
  </p>

  <p>Data and images are sourced from the Art Institute of Chicago API.</p>
  <p>
    Please visit their main website here:
    <a href="https://www.artic.edu">https://www.artic.edu</a>
  </p>

  <p>
    Search queries show only artwork which is in the public domain and are
    limited to 60 requests per user per minute.
  </p>
</div>
